/* stylelint-disable docusaurus/copyright-header */
/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.features h3 {
  text-align: center;
}

.featureImage {
  height: 100px;
  width: 100px;
}

.headerCover {
  align-content: center;
  max-width: 512px;
}

.cover {
  width: 100%;
  max-width: 512px;
  margin-top: 25px;
}

.coverContainer {
  text-align: center;
}

.homeContainer .projectTitle small {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 14px;
  line-height: 1.4;
}

@media only screen and (max-width: 1023px) {
  .desktopOnly {
    display: none;
  }
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projectTitle {
  margin-top: 25px;
  color: #e15799;
}
