.idea/
.npmrc
.yarnclean
.DS_Store
coverage
*.log
node_modules/
temp/
junit.xml
dist/
.bob/
out.txt
.cache
tsconfig.tsbuildinfo
.yarn/
recompile.sh

.next/
out/
website/public/sitemap.xml
website/public/_redirects
.eslintcache

**/cypress/screenshots
**/cypress/videos
