dev-test/githunt-invalid/invalid.graphql
packages/graphql-codegen-cli/tests/test-documents/invalid-schema.graphql
packages/plugins/flow/flow/tests/flow.js
packages/presets/gql-tag-operations/tests/fixtures/crlf-operation.ts
dist/
.next/
.bob
CHANGELOG.md
.husky/_/
.changeset/*.md

# temporarly ignore follow files because prettier-ignore comments don't work in mdx2
# see https://github.com/prettier/prettier/pull/12208
website/docs/advanced/how-does-it-work.mdx
website/docs/getting-started/development-workflow.mdx
