dev-test/githunt-invalid/invalid.graphql
packages/graphql-codegen-cli/tests/test-documents/invalid-schema.graphql
packages/presets/gql-tag-operations/tests/fixtures/crlf-operation.ts
dist/
build/
.next/
.bob
CHANGELOG.md
.husky/_/
.changeset/*.md

# temporarily ignore follow files because prettier-ignore comments don't work in mdx2
# see https://github.com/prettier/prettier/pull/12208
website/src/pages/docs/advanced/generated-files-colocation.mdx
website/src/pages/docs/advanced/how-does-it-work.mdx
website/src/pages/docs/config-reference/schema-field.mdx
website/src/pages/docs/getting-started/index.mdx
website/src/pages/docs/guides/graphql-server-apollo-yoga.mdx
website/src/pages/docs/guides/react.mdx
website/src/pages/plugins/index.mdx
website/src/pages/plugins/presets/near-operation-file-preset.mdx

temp/
website/out
website/.next

# added because it blocks CI and when I try to format it locally nothing happens :)
website/src/components/live-demo/LiveDemo.tsx

# This should be added bc our rust test setup for the SWC plugin does a string diff, and it fails
# bc it compares imports with double quotes against the formatted perttier single quotes
packages/presets/swc-plugin/tests/fixtures

# Ignore intentional error files
packages/graphql-codegen-cli/tests/test-files/schema-dir/error-schema.graphql
packages/graphql-codegen-cli/tests/test-files/error-document.graphql
