.container {
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  height: 95vh;
}

.column {
  flex: 1;
  height: 95vh;
}

.query-editor {
  flex: 1;
  position: relative;
  max-width: 25vw;
  overflow: scroll;
  height: 95vh;
}

.CodeMirror {
  height: 95vh;
}
