.container {
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  border-top: 1px solid #e5e5e5;
  margin-top: 3px;
}

.column {
  flex: 1;
  height: 85vh;
}

.logo {
  height: 35px;
  width: 35px;
  margin-right: 3px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #33475c;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
}

.icon-text {
  flex: 0;
}

.query-editor {
  flex: 1;
  position: relative;
  overflow: scroll;
}

.CodeMirror {
  height: 70vh;
  border-left: 1px solid #e5e5e5;
}

.column button {
  margin-left: 5px;
  margin-right: 5px;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  box-shadow: 6px 6px 0 0 rgba(51, 71, 92, 0.09);
  background-color: #ec51ba;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generate-text {
  margin-right: 10px;
}

.picker {
  padding-left: 30px;
  padding-bottom: 5px;
}
