code[class*='language-'],
pre[class*='language-'] {
  white-space: pre-wrap !important;
  word-break: break-word !important;
}

code,
code * {
  font-family: 'SF Mono', 'Source Code Pro', Menlo, monospace !important;

  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

article {
  width: 100%;
  overflow-x: auto;
}

#__next {
  font-family: TGCFont, sans-serif;
}

.admonition-heading .chakra-heading {
  padding-top: 0;
}

.collapse-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-family: 'SF Mono', 'Source Code Pro', Menlo, monospace !important;
}

.collapse-title > p {
  display: inline-block;
}

details > *:last-child {
  padding-bottom: 2rem;
}

.admonition {
  margin-top: 10px;
}

.admonition-heading h5 {
  text-transform: none;
}

.chakra-link {
  color: #0070f3;
  text-decoration: none;
}

.chakra-collapse a {
  border-left-width: 0 !important;
}
