.homeContainer {
  background-color: #f6f8f9;
}

.homeContainer .projectTitle img {
  width: 100%;
  max-width: 512px;
}

.homeContainer .projectTitle small {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 14px;
  line-height: 1.4;
}

.homeContainer .buttonWrapper .button {
  width: 150px;
  margin: 10px;
}

.mainContainer .cliTitle {
  color: var(--primary-color);
  font-family: monospace;
  text-align: center;
  font-weight: 500;
}

.mainContainer .cliTitle .cursor {
  background-color: var(--primary-color);
  height: 1.2em;
  width: 0.6em;
  display: inline-block;
  opacity: 0;
  transform: translateY(0.2em);
  animation-duration: 1.2s;
  animation-name: stutter;
  animation-iteration-count: infinite;
}

.IODemo {
  margin-top: 70px;
  margin-bottom: 100px;
  display: flow-root;
}

.IODemo .hljs-comment {
  color: var(--primary-color);
}

.IODemo-in {
  float: left;
  width: 50%;
}

.IODemo-in > pre {
  border-right: .5px solid gray;
  border-style: dashed;
}

.IODemo-out {
  float: left;
  width: 50%;
}

.IODemo-out > pre {
  border-left: .5px solid gray;
  border-style: dashed;
}

.FeatureCards {
  margin-bottom: 30px;
}

.FeatureCards-details {
  width: 100%;
  padding: 0 50px;
  margin-bottom: 100px;
  width: 500px;
  text-align: justify;
}

.FeatureCards-details h4 {
  color: var(--primary-color);
  font-size: .8em;
}

.FeatureCards-details h3 {
  color: var(--primary-text-color);
  font-size: 1.7em;
  margin-top: 0;
}

.FeatureCards-details div {
  color: var(--secondary-text-color);
  font-size: 1em;
}

.FeatureCards-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.FeatureCard {
  width: 255px;
  text-align: center;
}

.FeatureCard-icon {
  height: 65px;
  width: 65px;
  display: block;
  background-color: white;
  border: 1px solid silver;
  padding: 4px;
  border-radius: 5px;
}

.FeatureCard-title {
  font-size: 1em;
  color: var(--primary-text-color);
  text-align: left;
  margin-top: 20px;
  font-weight: 600;
}

.FeatureCard-description {
  margin-top: 10px;
  color: var(--secondary-text-color);
  text-align: left;
  font-size: .85em;
  text-align: justify;
}

@keyframes stutter {
  0% { opacity: 0 }
  0.1% {opacity: 1 }
  50% { opacity: 1 }
  50.1% { opacity: 0 }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  .homeContainer .pluginRowBlock {
    display: flex;
    flex-direction: column;
  }

  .mainContainer .cliDemoSection {
    display: none;
  }

  .FeatureCards-details {
    width: calc(100% - 40px);
    padding: 0;
    margin: 0 20px;
    text-align: justify;
    margin-bottom: 50px;
  }

  .FeatureCards-cards {
    flex-direction: column;
  }

  .FeatureCard {
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .FeatureCard-icon {
    margin-left: auto;
    margin-right: auto;
  }

  .FeatureCard-title {
    text-align: center;
  }

  .FeatureCard-description {
    text-align: justify;
  }
}
