.button {
  cursor: pointer;
  border: 1px solid #e15799;
  border-radius: 3px;
  color: #e15799;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: background 0.3s, color 0.3s;
  margin: 5px;
  background: transparent;
}

.buttonContained {
  cursor: pointer;
  border: 1px solid #e15799;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: background 0.3s, color 0.3s;
  margin: 5px;
  background: #e15799;
  color: #fff !important;
}

.buttonContained:hover {
  background: transparent;
  color: #e15799 !important;
}

.button:hover {
  background: #e15799;
  color: #fff !important;
}

.button:hover a {
  color: #fff !important;
  text-decoration: none;
}

@media only screen and (max-width: 1023px) {
  .mobileHide {
    display: none;
  }
}
