@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.react-monaco-editor-container,
.monaco-editor {
  height: 400px;
}

.column {
  align-self: stretch;
  flex-flow: column;
  flex: 1;
  min-width: 22vw;
  max-width: 22vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.title {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
}

.tabs {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.tabs .tab {
  border-radius: 5px 5px 0 0;
  flex: 1;
  color: rgb(141, 148, 158);
  cursor: pointer;
  font-size: 11px;
  padding: 5px 3px 5px 3px;
  margin-right: 5px;
  margin-top: 5px;
  font-family: 'Inconsolata', monospace;
  text-align: center;
  max-width: 30%;
}

.tabs .activeTab {
  background-color: rgb(141, 148, 158);
  color: white;
}

html[data-theme='dark'] .tabs .activeTab {
  background-color: rgb(141, 148, 158);
  color: black;
}

.iconText {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  margin-left: 5px;
}
