@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.picker {
  padding-left: 30px;
  padding-bottom: 5px;
  white-space: nowrap;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 3px;
  font-size: 12px;
}

.column {
  align-self: stretch;
  flex-flow: column;
  flex: 1;
  min-width: 22vw;
  max-width: 22vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.title {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
}

.tabs {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.tabs .tab {
  border-radius: 5px 5px 0px 0px;
  flex: 1;
  color: var(--ifm-color-emphasis-600);
  cursor: pointer;
  font-size: 11px;
  padding: 5px 3px 5px 3px;
  margin-right: 5px;
  margin-top: 5px;
  font-family: 'Inconsolata', monospace;
  text-align: center;
  max-width: 30%;
}

.tabs .activeTab {
  background-color: var(--ifm-color-emphasis-600);
  color: white;
}

html[data-theme='dark'] .tabs .activeTab {
  background-color: var(--ifm-color-emphasis-600);
  color: black;
}

.iconText {
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.queryEditor {
  flex: 1;
  position: relative;
  overflow: scroll;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.generateButton {
  width: 50%;
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}

.generateButton:hover img {
  filter: invert(51%) sepia(21%) saturate(3977%) hue-rotate(301deg) brightness(94%) contrast(87%);
}

.multipleViewContainer {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.multipleViewContainer div {
  flex: 1;
  align-self: stretch;
}
