name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Testing on ${{matrix.os}} and Node ${{matrix.node_version}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node_version: [10, 12, 13]
    steps:
      - name: Checkout Master
        uses: actions/checkout@v1
      - name: Use Node ${{matrix.node_version}}
        uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node_version }}
      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
        if: matrix.os != 'macos-latest'
      - name: Cache Yarn
        uses: actions/cache@v1
        if: matrix.os != 'macos-latest'
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Cache Jest
        uses: actions/cache@v1
        with:
          path: .cache/jest
          key: ${{ runner.os }}-jest-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-jest-
      - name: Install Dependencies using Yarn
        run: yarn install
      - name: Lint
        run: yarn lint
      - name: Build
        run: yarn build
      - name: Test
        run: yarn test --logHeapUsage
        env:
          CI: true
      - name: Test dev-tests
        run: |
          dev-test/generate-all.sh
          git diff --exit-code -- dev-test/

  publish-canary:
    name: Publish Canary
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Master
        uses: actions/checkout@v1
      - name: Use Node
        uses: actions/setup-node@master
        with:
          node-version: '13.x'
      - name: Install Dependencies using Yarn
        run: yarn install && git checkout yarn.lock
      - name: Build
        run: yarn build
      - name: Release Canary
        run: |
          echo "Source Repo: ${{github.repository}}"
          if [ "${{github.repository}}" == "dotansimha/graphql-code-generator" ] && [ "${{ secrets.NODE_AUTH_TOKEN }}" != "" ]
          then
              echo "//registry.npmjs.org/:_authToken=${{ secrets.NODE_AUTH_TOKEN }}" > .npmrc
              rm -rf out.txt
              npm run ci:release:canary > out.txt
              export SYSTEM_PULLREQUEST_PULLREQUESTNUMBER=`echo $GITHUB_REF | grep -Eo '[0-9]{1,4}'`

              if [ "$SYSTEM_PULLREQUEST_PULLREQUESTNUMBER" != "" ]
              then
                export BUILD_REPOSITORY_NAME="${{github.repository}}"
                export ALPHA_VERSION=`cat out.txt | sed -n 's/.*cli => //p' | sed -n 's/+.*//p'`
                export GH_API_TOKEN="${{ secrets.GH_API_TOKEN }}"
                export COMMENT_BODY="The latest changes of this PR are available as alpha in npm: \`$ALPHA_VERSION\`"
                ./scripts/comment.js
              fi
          else    
              echo "Skipping canary publish due to a fork/PR..."
          fi
