name: pr
on:
  pull_request:
    branches:
      - master

jobs:
  # dependencies:
  #   uses: the-guild-org/shared-config/.github/workflows/changesets-dependencies.yaml@main
  #   if: ${{ github.event.pull_request.title != 'Upcoming Release Changes' }}
  #   secrets:
  #     githubToken: ${{ secrets.GUILD_BOT_TOKEN }}

  alpha:
    uses: the-guild-org/shared-config/.github/workflows/release-snapshot.yml@main
    if: ${{ github.event.pull_request.title != 'Upcoming Release Changes' }}
    with:
      npmTag: alpha
      buildScript: build
    secrets:
      githubToken: ${{ secrets.GITHUB_TOKEN }}
      npmToken: ${{ secrets.NPM_TOKEN }}

  release-candidate:
    uses: the-guild-org/shared-config/.github/workflows/release-snapshot.yml@main
    if: ${{ github.event.pull_request.title == 'Upcoming Release Changes' }}
    with:
      npmTag: rc
      restoreDeletedChangesets: true
      buildScript: build
    secrets:
      githubToken: ${{ secrets.GITHUB_TOKEN }}
      npmToken: ${{ secrets.NPM_TOKEN }}
